[submodule "vendors/ELFIO"]
	path = vendors/ELFIO
	url = https://github.com/serge1/ELFIO
[submodule "vendors/CLI11"]
	path = vendors/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/SDL"]
	path = vendors/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendors/sockpp"]
	path = vendors/sockpp
	url = https://github.com/fpagliughi/sockpp.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendors/sdl3webgpu"]
	path = vendors/sdl3webgpu
	url = https://github.com/eliemichel/sdl3webgpu.git
[submodule "vendors/lib9660"]
	path = vendors/lib9660
	url = https://github.com/erincandescent/lib9660.git
[submodule "vendors/dawn"]
	path = vendors/dawn
	url = https://github.com/google/dawn.git
